[Unit]
Description=Hangul Keyboard Daemon

[Service]
Type=simple
ExecStart=/home/root/rekoit/hangul-daemon
Restart=on-failure
RestartSec=5
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
