[Unit]
Description=Restore REKOIT runtime after firmware update
DefaultDependencies=no
RequiresMountsFor=/home
After=home.mount
Before=xochitl.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /home/root/rekoit/restore.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
